html *
{
   font-family: Courier New !important;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.center {
  text-align: center;
}

.flex-child {
  border: 2px solid black;
  margin-top: 20px;
/*   margin: 20px */
}

textarea {
  width: 60%;
  height: 100px;
}

.section {
  padding: 20px;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.celebrate-text {
  color: white;
  font-size: 40;
}